@use "../../variables" as v;

.chat {
    width: 100%;
    height: 60vh;
    border: 1px solid v.$primary-color;
}

.controls {
    display: flex;
    gap: 10px;
    padding: 0 30px;
    width: 100%;
    position: fixed;
    bottom: 20px;
    font-weight: 800;

    &__text-field {
        width: 100%;
    }

    &__button {
        flex: 0 0 auto;
    }
}
